In [ ]:
import pandas as pd
import psycopg2 as pg

In [ ]:
host = 'comunidade-ds-postgres.c50pcakiuwi3.us-east-1.rds.amazonaws.com'
port = 5432
database = 'comunidadedsdb'
username = 'member'
pwd = 'cdspa'

In [ ]:
conn = pg.connect(user=username,password=pwd,host=host,port=port,database=database)

In [ ]:
cursor = conn.cursor()

query_schema = """
    SELECT *
    FROM pa004.users u
    WHERE u.age > 44
    LIMIT 10
"""

cursor.execute(query_schema)
record = cursor.fetchall()
cursor.close()
conn.close()

In [ ]:
pd.DataFrame(record)

    0       1   2     3      4
0   2    Male  76   3.0   26.0
1   3    Male  47  28.0   26.0
2   8  Female  56  28.0   26.0
3  11  Female  47  35.0  124.0
4  14    Male  76  28.0   13.0
5  15    Male  71  28.0   30.0
6  20  Female  60  33.0  124.0
7  21    Male  65  28.0  124.0
8  22    Male  49  28.0  124.0
9  27  Female  51  28.0  124.0

# Collect data using pandas

In [ ]:
import pandas.io.sql as psql

In [ ]:
query_schema = """
    SELECT *
    FROM pa004.users u
    WHERE u.age > 44
    LIMIT 10
"""

df = psql.read_sql(query_schema,conn)
df.head()

   id  gender  age  region_code  policy_sales_channel
0   2    Male   76          3.0                  26.0
1   3    Male   47         28.0                  26.0
2   8  Female   56         28.0                  26.0
3  11  Female   47         35.0                 124.0
4  14    Male   76         28.0                  13.0

In [ ]:
df = pd.read_sql(query_schema,conn)

In [ ]:
df

   id  gender  age  region_code  policy_sales_channel
0   2    Male   76          3.0                  26.0
1   3    Male   47         28.0                  26.0
2   8  Female   56         28.0                  26.0
3  11  Female   47         35.0                 124.0
4  14    Male   76         28.0                  13.0
5  15    Male   71         28.0                  30.0
6  20  Female   60         33.0                 124.0
7  21    Male   65         28.0                 124.0
8  22    Male   49         28.0                 124.0
9  27  Female   51         28.0                 124.0

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=3161d838-98a4-47ed-ae81-127ad2068af4' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>