# Imports

In [9]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from IPython.core.display import HTML
from IPython.display import Image
from scipy import stats
from sklearn.preprocessing import RobustScaler, MinMaxScaler, StandardScaler

# Helper functions

In [10]:
def jupyter_settings():
    %matplotlib inline
    %pylab inline
    plt.style.use( 'bmh' )
    plt.rcParams['figure.figsize'] = [25, 12]
    plt.rcParams['font.size'] = 24
    display( HTML( '<style>.container { width:100% !important; }</style>') )
    sns.set()
jupyter_settings()

Populating the interactive namespace from numpy and matplotlib

# load data

In [11]:
df4 = pd.read_csv('data/df3.csv')

In [12]:
df4.head()

,id,gender,age,region_code,policy_sales_channel,previously_insured,annual_premium,vintage,vehicle_age,vehicle_damage,response
0,1,Male,44,28.0,26.0,0,40454.0,217,> 2 Years,1,1
1,2,Male,76,3.0,26.0,0,33536.0,183,1-2 Year,0,0
2,3,Male,47,28.0,26.0,0,38294.0,27,> 2 Years,1,1
3,4,Male,21,11.0,152.0,1,28619.0,203,< 1 Year,0,0
4,5,Female,29,41.0,152.0,1,27496.0,39,< 1 Year,0,0

In [13]:
df4.dtypes

id                        int64
gender                   object
age                       int64
region_code             float64
policy_sales_channel    float64
previously_insured        int64
annual_premium          float64
vintage                   int64
vehicle_age              object
vehicle_damage            int64
response                  int64
dtype: object

# Rescaling

In [14]:
se = StandardScaler()
mms = MinMaxScaler()
# Min - max sacaler
df4['age'] = mms.fit_transform(df4[['age']].values)

df4['vintage'] = mms.fit_transform(df4[['vintage']].values)

# StandardScale
df4['annual_premium'] = se.fit_transform(df4[['annual_premium']].values)

# Encoding

In [15]:
df4['gender'] = df4['gender'].apply(lambda x: 1 if x=='Female' else (0 if x=='Male' else x))

# vehicle_age ordinal scale
vehicle_age_dict = {'> 2 Years':3, '1-2 Year':2, '< 1 Year':1}
df4['vehicle_age'] = df4['vehicle_age'].map(vehicle_age_dict)

Para um prÃ³ximo ciclo, region_code e policy_sales_channel  : target encoding ou frequency encodig

In [16]:
df4.head()

,id,gender,age,region_code,policy_sales_channel,previously_insured,annual_premium,vintage,vehicle_age,vehicle_damage,response
0,1,0,0.369231,28.0,26.0,0,0.574539,0.716263,3,1,1
1,2,0,0.861538,3.0,26.0,0,0.172636,0.598616,2,0,0
2,3,0,0.415385,28.0,26.0,0,0.449053,0.058824,3,1,1
3,4,0,0.015385,11.0,152.0,1,-0.113018,0.667820,1,0,0
4,5,1,0.138462,41.0,152.0,1,-0.178259,0.100346,1,0,0

In [17]:
#df4.to_csv('data/df4.csv',index=False)

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=3161d838-98a4-47ed-ae81-127ad2068af4' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>